

<div class="home-page-wrapper">
    <div class="body main-wrapper home-page">
        @*<div class="container menu-dots">
            <img src="~/Assets/Clients/images/menu-dots.svg" alt="menu icon">
        </div>*@
        <div class="banner-image banner-1">
            <img class="home-sliderimg" src="~/Assets/Clients/images/home-slider-4.jpg" alt="Home">
        </div>
        <div class="home-banner-vector">
            <img class="tri1 wow fadeInUp" data-wow-delay="2s" src="~/Assets/Clients/images/triangle-04.png">
            <img class="tri2 wow fadeInDown" data-wow-delay="2.2s" src="~/Assets/Clients/images/triangle-05.png">
            <img class="tri3 wow fadeInUp" data-wow-delay="2.5s" src="~/Assets/Clients/images/triangle-06.png">
        </div>
        @*<div class="home-banner-text-container">
            <div class="container banner-text-position-relative">
                <div class="row">
                    <div class="home-banner-content">
                        A CLOSER WORLD THROUGH GLOBAL TRADE
                    </div>
                    <div class="home-banner-our-vision">
                        <a href="/our-activities.php#our-vision">Our <span class="banner-blue-text">Vision</span></a>
                    </div>
                    <div class="home-banner-our-trading-activities">
                        <a href="/commodity-trading.php">Our <span class="banner-blue-text">Trading Activities</span></a>
                    </div>
                    <div class="home-banner-aluzinc-logo hide-below-480">
                        <img src="~/Assets/Clients/images/banner-new-white-logo.png" alt="Alzys Global">
                    </div>
                </div>
            </div>
        </div>*@
    </div>

    <header class="custom-header">
        <nav class="@*nav navbar-fixed-top*@">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="float-left left-section">
                            <a href="#" class="menu-icon float-left">
                                <img src="~/Assets/Clients/images/logo.svg" alt="Alzys Global">
                            </a>
                            <ul class="custom-navbar float-left">
                                <li>
                                    <a class="hash-link" href="#about-us">ABOUT US</a>
                                </li>
                                <li>
                                    <a class="hash-link" href="#notes-from-co-ceo">NOTES FROM CO CEO</a>
                                </li>
                                <li>
                                    <a class="hash-link" href="#milestones">MILESTONES</a>
                                </li>
                                <li>
                                    <a class="hash-link" href="#company-at-a-glance">COMPANY AT A GLANCE</a>
                                </li>
                            </ul>
                        </div>
                        @*<div class="site-logo float-right">
                        <a href="/">
                            <img src="~/Assets/Clients/images/logo.svg" alt="Alzys Global">
                        </a>
                    </div>*@
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- <div class="padding-top-80"></div> -->
    <section id="about-us" class="homepage-about-us about-section">
        <div class="vector-object"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12 wow fadeInUp">
                    <div class="title show-mobile">
                        <h2 class="display-4 font-weight-normal section-title wow fadeInUp">ABOUT <br><div class="theme-dark">ALZYS GLOBAL</div></h2>
                    </div>
                    <img class="w-100 p-3 about-alzys-img" style="opacity: 0.7;" src="~/Assets/Clients/images/about-image.jpg" alt="About Aluzinc">
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="title show-desktop">
                        <h2 class="display-4 font-weight-normal section-title wow fadeInUp">ABOUT <br><div class="theme-dark">ALZYS GLOBAL</div></h2>
                    </div>
                    <div class="content mg-top-10">
                        <p class="font-20 wow fadeInUp">Alzys Global Pte Ltd., is a trading company registered in Singapore that started its operations in 2007 with the intention of trading in steel products by the current CEO, Mr. Rajesh Balasubramanian.</p>
                        <p class="font-20 wow fadeInUp">The company was established as a subsidiary of Aluzinc AG from Liechenstein till 2012, subsequent to which Sadoshima Corporation, a Japanese trading company decided to participate in the business and bought 27% stake in Alzys Global.</p>
                        <p class="font-20 wow fadeInUp">The company originally started with a focus in African markets due to the parent group’s historic presence in Africa and the CEO’s experience in sales in this market. Subsequently in 2010, Alzys Global ventured into the Latin American markets through the efforts of  Mr. Prabhu Sathyamoorthy, the current President of the company.</p>
                        <div id="discover-more" class="collapse">
                            <p class="font-20">In 2014, the company added textile raw materials division and most recently, palm oil and packaged food products as a part of its portfolio. The company has also ventured into South East Asian markets with the business expanding rapidly across all the products and markets. </p>
                            <p class="font-20">Alzys Global prides itself as a niche player in the commodity market since it has identified a unique space for itself in each of its line of business. The organization values its relationship with both its suppliers and its customers, some of which age beyond the life of Alzys Global.</p>
                            <p class="font-20">In 2017, the company clocked a turnover of US$ 249 million with  a healthy bottom line. Going forward, Alzys Global is maintaining a “cautious growth” outlook for its business across all sectors and aims to close at around US$ 350 million by the  end of 2018.</p>
                            <p class="font-20">The holding structure of Alzys Global is undergoing a change wherein it will be substantially management - owned and controlled in the future.</p>
                            <a class="close-icon font-20" data-toggle="collapse" data-target="#discover-more">CLOSE <img src="~/Assets/Clients/images/close-icon.png"></a>
                        </div>
                    </div>
                    <div class="button">
                        <a class="discover-more font-20 wow fadeInUp" data-toggle="collapse" data-target="#discover-more">DISCOVER MORE <img style="margin-left:15px;" src="~/Assets/Clients/images/plus-sign.png"></a>
                    </div>
                </div>
            </div>
            <!-- <div class="padding-top-80"></div> -->
            <div id="discover-more" class="collapse">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <!-- <p>The company originally started with a focus in African markets due to the parent group’s historic presence in Africa and the CEO’s experience in sales in this market. Subsequently in 2010, Alzys Global ventured into the Latin American markets through the efforts of  Mr. Prabhu Satyamoorthy, the current President of the company. -->

                    </div>
                    <div class="col-md-6 col-sm-12 col-12">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="padding-top-80 mg-top-25"></div>
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 download-annual-report">
                    <div class="image">
                        <div class="display-inline-table padding-right-40 wow fadeInUp">
                            <a class="white" href="/AluZinc-Annual Report 2017_23.06.18 Final.pdf" target="_blank">
                                <img src="~/Assets/Clients/images/pdf-icon.png">
                            </a>
                        </div>
                        <div class="display-inline-table position-cta wow fadeInUp">
                            <a class="white font-24" href="/AluZinc-Annual Report 2017_23.06.18 Final.pdf" target="_blank">
                                <span>View our</span> <span>Annual Report</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-6 view-corporate-video">
                    <div class="image pad-top-24">
                        <div class="display-inline-table padding-right-40 wow fadeInUp">
                            <!-- <a class="white" href="#"> -->
                            <a class="fancybox-media white" href="https://www.youtube.com/watch?v=zRZqPGn4Wu8" title="youtube">
                                <img src="~/Assets/Clients/images/youtube-icon.jpg">
                            </a>
                        </div>
                        <div class="display-inline-table position-cta wow fadeInUp">
                            <a class="white font-24" href="#">
                                <span>View our</span> <span>Corporate Video</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="padding-top-80"></div>
    <!-- <section class="paroller" style="background: url(~/Assets/Clients/images/ceo-banner.jpg) no-repeat center; height: 940px; background-size: cover;" data-paroller-factor="0.5"
    data-paroller-factor-xs="0.2"> -->
    <!-- <section class="ceo-banner">
    </section> -->
    <section class="directors-image">
        <div class="banner-style-image">
            <!-- <img src="~/Assets/Clients/images/ceo-banner.jpg"> -->
        </div>
        <div class="director-names-container prabhu">
            <div class="director-name-prabhu">
                <div class="ceo-name padding-25">
                    <h3 class="font-24 home-leader-names"><span>PRABHU</span> <span>SATHYAMOORTHY</span></h3>
                    <h4 class="designation font-20">CO CEO</h4>
                </div>
            </div>
        </div>
        <div class="director-names-container rajesh">
            <div class="director-name-rajesh">
                <div class="ceo-name padding-25 ">
                    <h3 class="font-24 home-leader-names"><span>RAJESH</span> <span>BALASUBRAMANIAN</span></h3>
                    <h4 class="designation font-20">CO CEO</h4>
                </div>
            </div>
        </div>
    </section>
   
    <section id="notes-from-co-ceo" class="ceo-desk">
        <div class="container">
            <h2 class="section-title wow fadeInUp">FROM THE</h2>
            <h2 class="theme-dark section-title wow fadeInUp">CO CEOS DESK</h2>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="padding-top-100"></div>
                    <p class="font-20 wow fadeInUp">Alzys Global started as a one-person operation in 2007, out of a small office in Singapore. Our first trade was for a corrugating machine from Japan to Ghana. Since then, we have been trading in steel, textile raw materials, packaged foods and non-ferrous metals, sourcing from around 6 countries and selling in over 30 countries. The journey has been eventful and educative.</p>
                    <div class="padding-top-30 wow fadeInUp"></div>
                    <p class="font-20 wow fadeInUp">Born in the cusp of the economic crisis of 2008, Alzys Global has grown through the years surviving through periods of economic turbulence including those in Russia, Europe, Ukraine and China. While each of these crises cast a dark cloud over the world trade, Alzys Global survived them and emerged stronger. Through the years, the support from our stakeholders has helped us to grow into an organization of strength and character. And for this, our heartfelt gratitude goes out to them.</p>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="padding-top-100"></div>
                    <p class="font-20 wow fadeInUp">Alzys Global today has a strength of 30 people, of different ethnicity, located in various continents. We pursue 'Glocalisation' as a consistent strategy to help us blend into local business environments and gain trust of clients and suppliers. Sustainability and scalability are part of the organization's DNA and we have built the business through small and incremental steps. In the foreseeable future, Alzys Global will emerge as a company with impeccable integrity and inspiring credentials.</p>
                    <div class="padding-top-120"></div>
                    <div class="ceo-signature-column">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="signature-image wow fadeInUp">
                                    <img src="~/Assets/Clients/images/rajesh-signature.png">
                                    <div class="name font-20">Rajesh <br>Balasubramanian</div>
                                    <div class="designation font-20">CO CEO</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-4"></div>
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="signature-image wow fadeInUp">
                                    <img src="~/Assets/Clients/images/prabhu-signature.png">
                                    <div class="name font-20">Prabhu <br>Sathyamoorthy</div>
                                    <div class="designation font-20">CO CEO</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="padding-top-80"></div>
    <div class="milestone-outer-box">
        <section id="milestones" class="company-milestone">
            <div class="container milestones-container">
                <h2 class="section-title wow fadeInUp">COMPANY <span>MILESTONES</span></h2>
                <div class="milestone-vector-image">
                    <ul class="milestone-text">
                        <li class="milestone milestone-1 white wow fadeInUp">Established as a subsidiary of Aluzinc AG from Liechenstein with focus in African markets. <br> <h3 class="white font-50">2007</h3></li>
                        <li class="milestone milestone-2 white wow fadeInUp">Expansion into Latin American markets.<br><h3 class="white font-50">2010</h3></li>
                        <li class="milestone milestone-3 white wow fadeInUp">Added Textile Raw material Trading Division.<br><h3 class="white font-50">2014</h3></li>
                        <li class="milestone milestone-4 white wow fadeInUp">Expanded operations to South East Asian Markets.<br><h3 class="white font-50">2015</h3></li>
                        <li class="milestone milestone-5 white wow fadeInUp">Ventured into Packaged Food Commodities Trading.<br><h3 class="white font-50">2017</h3></li>
                    </ul>
                    <img src="~/Assets/Clients/images/milestone-vector-image.png">
                </div>
            </div>

        </section>
        <div class="scrollbar-nav">
            <p class="arrow-left"><img src="~/Assets/Clients/images/left-scroll-arrow.png"></p>
            <p class="arrow-right"><img src="~/Assets/Clients/images/right-scroll-arrow.png"></p>
        </div>
    </div>
    <div class="padding-top-80"></div>
    <section id="company-at-a-glance" class="at-a-glance" style="">
        <div class="container">
            <div class="glance-title">
                <h2 class="white section-title wow fadeInUp">ALZYS GLOBAL <br> AT A GLANCE</h2>
            </div>
            <div class="glance-list desktop wow fadeInUp">
                <div>30+ <br>MARKETS</div>
                <div>200+ CLIENTS <br>GLOBALLY</div>
                <div>6+ SOURCING <br>COUNTRIES</div>
                <div>50+ <br>EMPLOYEES</div>
                <div>HQ IN <br>SINGAPORE</div>
            </div>
            <div class="glance-list mobile wow fadeInUp">
                <div class="first">
                    <span>30+ <br>MARKETS</span>
                    <span>200+ CLIENTS <br>GLOBALLY</span>
                </div>
                <div class="second">
                    <span>6+ SOURCING <br>COUNTRIES</span>
                    <span>50+ <br>EMPLOYEES</span>
                </div>
                <div class="third">
                    <span> HQ IN <br>SINGAPORE</span>
                </div>
            </div>
        </div>
    </section>
    <section class="get-in-touch">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-6 col-sm-6"></div> -->
                <div class="col-md-6 col-sm-6 offset-sm-6 offset-sm-6 offset-5 get-in-touch-home">
                    <div class="form-section"></div>
                    <div class="title">
                        <h2 class="section-title wow fadeInUp">GET IN <br> <span class="theme-dark">TOUCH</span></h2>
                    </div>
                    <div class="padding-top-100"></div>
                    <div class="contact-form">
                        <form role="form" data-toggle="validator" class="shake">
                            <div class="form-field wow fadeInUp">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" id="name" name="name" placeholder="NAME" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field wow fadeInUp">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="email" class="email" name="email" id="email" placeholder="EMAIL" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field wow fadeInUp">
                                <div class="form-group">
                                    <div class="controls">
                                        <textarea id="message" rows="7" name="message" placeholder="MESSAGE" required data-error="Write your message"></textarea>
                                        <div class="help-block with-errors " id="msgSend"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field text-right wow fadeInUp">
                                <button type="button" id="submit" name="submit" class="homepage-send button-border get-in-touch-send"></i> SEND</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="padding-top-80 hide-below-480"></div>
<div class="text-center">
    <a class="d-inline-block d-lg-none" id="scroll-to-top">
        <span>Top</span>
        <img src="~/Assets/Clients/images/top-arrow.svg">
    </a>
</div>