
@{
    ViewBag.Title = "OurActivities";
}


<div class="main-wrapper our-activities">
    <div class="title-image-wrapper position-relative">
        <img class="w-100" src="~/Assets/Clients/images/steel-roll.jpg" alt="commdodity-trading">
        <h1>OUR<br>ACTIVITIES</h1>
    </div>
    <header class="custom-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="float-left left-section">
                        <a href="#" class="menu-icon float-left">
                            <img src="~/Assets/Clients/images/menu-icon.svg" alt="menu-icon">
                        </a>
                        <ul class="custom-navbar float-left">
                            <li>
                                <a class="hash-link" href="#who-we-are">WHO WE ARE</a>
                            </li>
                            <li>
                                <a class="hash-link" href="#what-we-do">WHAT WE DO</a>
                            </li>
                            <li>
                                <a class="hash-link" href="#our-vision">OUR VISION</a>
                            </li>
                            <li>
                                <a class="hash-link" href="#our-edge">OUR EDGE</a>
                            </li>
                            <li>
                                <a class="hash-link" href="#how-we-add-value">HOW WE ADD VALUE</a>
                            </li>
                        </ul>
                    </div>
                    <div class="site-logo float-right">
                        <a href="/">
                            <img src="~/Assets/Clients/images/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="enb">
        <img class="image-pattern-on-left-enablers" src="~/Assets/Clients/images/image-overlay.png" alt="overlay">
        <div id="who-we-are" class="container enablers-section">
            <div class="row">
                <div class="col-xl-6 col-md-6 left-section wow first-who-we-are fadeInLeft">
                    <img class="w-100 enablers-img" src="~/Assets/Clients/images/enablers.jpg" alt="enablers">
                </div>
                <div id="who-we-are-header" class="col-xl-6 col-md-6 second-who-we-are">
                    <div class="right-section wow fadeInRight">
                        <h5 class="who-we-are">Who we are</h5>
                        <h1 class="we-are-enablers">WE ARE<br>ENABLERS OF<span class="brand-color"> GLOBAL TRADE</span></h1>
                        <p class="font-20 hide-below-1200">
                            We make trade happen across geographies by deploying skills and network to move physical commodities from places they are in plentiful, to where they are needed the most.
                        </p>
                        <p class="font-20 hide-below-1200">
                            We trade responsibly by minimizing the impact of global uncertainty and volatility on our key constituents and partners
                        </p>
                        <p class="font-20 hide-below-1200">
                            Whether you’re a producer, an existing or potential partner in government or business, or an end-user, our focus, commitment and global resources can get you closer to your markets.  We invest in innovations to make markets more efficient thereby strengthening connections between suppliers and end-users.
                        </p>
                    </div>
                </div>
                <div id="who-we-are-mobile" class="col-xl-12 col-md-12 display-below-1200">
                    <div class="right-section wow fadeInRight">
                        <p class="font-20">
                            We make trade happen across geographies by deploying skills and network to move physical commodities from places they are in plentiful, to where they are needed the most.
                        </p>
                        <p class="font-20">
                            We trade responsibly by minimizing the impact of global uncertainty and volatility on our key constituents and partners
                        </p>
                        <p class="font-20">
                            Whether you’re a producer, an existing or potential partner in government or business, or an end-user, our focus, commitment and global resources can get you closer to your markets.  We invest in innovations to make markets more efficient thereby strengthening connections between suppliers and end-users.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h5 id="what-we-do" class="what-we-do">What we do</h5>
                    <div class="col-xl-6 col-md-6 left-section what-we-do-text wow fadeInLeft">
                        <div class="left-section">
                            <h1>EXPERTISE<br>FUELED WITH<BR><span class="brand-color">EXPERIENCE</span></h1>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-6 what-we-do-right">
                        <div class="right-section wow fadeInRight">
                            <p class="font-20 first-para">
                                We are experts in the trading of specific commodities - steel and affiliated raw materials, non ferrous minerals and metals, textile industry raw materials and packaged food with presence in Africa, Latin America and South East Asia.
                            </p>
                            <p class="font-20">
                                We have gained our expertise through years of experience in trade generation, organization and facilitation in these sectors. We bridge gaps in the global trade by virtue of the unique relationships that we enjoy within the supply chain.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activities-caroual-section">
            <div class="owl-carousel">
                <div>
                    <div class="position-relative">
                        <img src="~/Assets/Clients/images/textile.jpg" alt="TEXTILES">
                        <div class="caption">TEXTILES</div>
                    </div>
                </div>
                <div>
                    <div class="position-relative">
                        <img src="~/Assets/Clients/images/steel.jpg" alt="NON FERROUS METALS">
                        <div class="caption">NON FERROUS METALS</div>
                    </div>
                </div>
                <div>
                    <div class="position-relative">
                        <img src="~/Assets/Clients/images/packaged-goods.jpg" alt="PACKAGED FOODS">
                        <div class="caption">PACKAGED FOODS</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="our-vision" class="our-vision-section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft">
                        <h1 class="our-vision-header">OUR<br><span class="brand-color">VISION</span></h1>
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                        <div class="our-vision-content">
                            <p class="font-20">
                                To be the <strong>most preferred supplier to our clients</strong> by deeply engaging with them and offering bespoke supply chain solutions.
                            </p>
                            <p class="font-20">Be recognized as a <strong>key catalyst by producers</strong> and a dominant force in the sectors that we specialize in.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-bg">
                <img class="our-vision-bg hide-below-4180" src="~/Assets/Clients/images/our-vision-bg.png" alt="our-vision">
                <!-- <img class="our-vision-bg display-below-480" src="~/Assets/Clients/images/our-vision-bg-mobile.png" alt="our-vision"> -->
                <img id="bigtruck" class="wow fadeIn truck" src="~/Assets/Clients/images/truck.png" alt="big truck">
                <img id="smalltruck" class="wow fadeIn truck" src="~/Assets/Clients/images/truck-2.png" alt="small truck">
                <img id="train" class="wow fadeIn truck" src="~/Assets/Clients/images/train.png" alt="train">
                <img id="plane" class="wow fadeIn truck" src="~/Assets/Clients/images/plane.png" alt="plane">
                <img id="ship" class="wow fadeIn truck" src="~/Assets/Clients/images/ship-white.png" alt="ship">
            </div>
        </div>
        <div id="our-edge" class="aluzinc-asia-edge-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 display-below-768 wow fadeInRight">
                        <div class="alizinc-asia-edge-header">
                            <h1 class="white-color">Alzys Global <br>EDGE</h1>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                        <div class="aluzinc-asia-edge-content">
                            <p class="white-color font-20">We <strong>add value to the supply chain</strong> with exceptional service and performance. </p>
                            <p class="white-color font-20"><strong>Strong local market understanding & expertise</strong> to enable our clients take mission critical business decisions.</p>
                            <p class="white-color font-20"><strong>Deep knowledge & insights</strong> of the business and its underlying risks (price, market, currency & counterparty) </p>
                            <p class="font-20 white-color"><strong>Trusted name</strong> in the industry across the markets we operate in.</p>
                        </div>
                    </div>
                    <div class="col-md-6 hide-below-768 wow fadeInRight">
                        <div class="alizinc-asia-edge-header">
                            <h1 class="white-color">ALZYS GLOBAL <br>EDGE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="how-we-add-value" class="four-stage-process">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 how-we-add-value-first-half wow fadeInLeft">
                        <div class="left-section">
                            <h5 class="who-we-are how-we-add-value-header">How we add value</h5>
                            <h1>OUR 4 STAGE PROCESS <span class="brand-color">OF<br> ADDING VALUE</span></h1>
                        </div>
                    </div>
                    <div class="col-md-6 how-we-add-value-second-half wow fadeInRight">
                        <img class="adding-value-img" src="~/Assets/Clients/images/adding-values.jpg" alt="adding values">
                    </div>
                </div>
                <div class="row second-row">
                    <div class="col-md-6 wow fadeInLeft">
                        <div class="left-contet-section">
                            <p class="font-20">Be the<strong> vital link</strong> between the<strong> producers and customers</strong> throughout the entire business cycle. This involves choosing the right producer, mobilizing resources for smoother business operations, managing timely shipments, quality checks and after sales follow-up.</p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                        <div class="rigt-conten-section">
                            <div class="adding-value-right-content">
                                <p class="font-20"><strong>We are driven by the mission to safeguard the interest of all our stakeholders.</strong></p>
                                <p class="font-20">Beyond this, we offer bespoke trading solutions to our customers depending upon specific project requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row third-row hide-below-480">
                    <div class="col-md-3 four-stage-box stage-one wow fadeInLeft">
                        <p class="stage-header">STAGE<span> 1</span></p>
                        <p class="stage-content">
                            We thoroughly understand the customer’s requirements and arrive at the optimum solutions mix involving the right supplier, the right financing option and the most appropriate risk control measures.
                        </p>
                    </div>
                    <div class="col-md-3 four-stage-box stage-two wow fadeInLeft">
                        <p class="stage-header">STAGE<span> 2</span></p>
                        <p class="stage-content">
                            We run a pilot trade with the specific deliverables to ascertain the feasibility of the operations and Identify / pre-empt any deviations from the actual plan.
                        </p>
                    </div>
                    <div class="col-md-3 four-stage-box stage-three wow fadeInLeft">
                        <p class="stage-header">STAGE<span> 3</span></p>
                        <p class="stage-content">We monitor and evaluate the results and modify the process  to arrive at the most efficient Program fulfilling all parameters</p>
                    </div>
                    <div class="col-md-3 four-stage-box stage-four wow fadeInLeft">
                        <p class="stage-header">STAGE<span> 4</span></p>
                        <p class="stage-content">We get the supply chain moving smoothly like a well oiled machinery without any variations in the operations. </p>
                    </div>
                </div>
                <div class="row mobile-stage-carousal third-row display-below-480">
                    <div class="owl-carousel">
                        <div class="col-md-3 four-stage-box stage-one wow fadeInLeft">
                            <p class="stage-header">STAGE<span> 1</span></p>
                            <p class="stage-content">
                                We thoroughly understand the customer’s requirements and arrive at the optimum solutions mix involving the right supplier, the right financing option and the most appropriate risk control measures.
                            </p>
                        </div>
                        <div class="col-md-3 four-stage-box stage-two wow fadeInLeft">
                            <p class="stage-header">STAGE<span> 2</span></p>
                            <p class="stage-content">
                                We run a pilot trade with the specific deliverables to ascertain the feasibility of the operations and Identify / pre-empt any deviations from the actual plan.
                            </p>
                        </div>
                        <div class="col-md-3 four-stage-box stage-three wow fadeInLeft">
                            <p class="stage-header">STAGE<span> 3</span></p>
                            <p class="stage-content">We monitor and evaluate the results and modify the process  to arrive at the most efficient Program fulfilling all parameters</p>
                        </div>
                        <div class="col-md-3 four-stage-box stage-four wow fadeInLeft">
                            <p class="stage-header">STAGE<span> 4</span></p>
                            <p class="stage-content">We get the supply chain moving smoothly like a well oiled machinery without any variations in the operations. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six-qualities">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 single-quality">
                        <div class="quality-img">
                            <img class="wow fadeInDown " src="~/Assets/Clients/images/customization.png" alt="customization">
                        </div>
                        <p>Customization</p>
                    </div>
                    <div class="col-md-2 single-quality">
                        <div class="quality-img">
                            <img class="wow fadeInDown" src="~/Assets/Clients/images/sourcing.png" alt="sourcing">
                        </div>
                        <p>Sourcing</p>
                    </div>
                    <div class="col-md-2 single-quality">
                        <div class="quality-img">
                            <img class="wow fadeInDown padding-10" src="~/Assets/Clients/images/transportation.png" alt="transportation">
                        </div>
                        <p>Transportation</p>
                    </div>
                    <div class="col-md-2 single-quality">
                        <div class="quality-img">
                            <img class="wow fadeInDown padding-10" src="~/Assets/Clients/images/delivery.png" alt="delivery">
                        </div>
                        <p>Delivery</p>
                    </div>
                    <div class="col-md-2 single-quality">
                        <div class="quality-img">
                            <img class="wow fadeInDown" src="~/Assets/Clients/images/hedging.png" alt="hedging">
                        </div>
                        <p>Hedging</p>
                    </div>
                    <div class="col-md-2 single-quality">
                        <img class="wow fadeInDown" src="~/Assets/Clients/images/qaulity-checks.png" alt="quality checks">
                        <p>Quality checks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
