
@{
    ViewBag.Title = "RiskManagement";
}


<div class="main-wrapper risk-management">
    <div class="title-image-wrapper position-relative">
        <img class="w-100" src="~/Assets/Clients/~/Assets/Clients/~/Assets/Clients/images/risk-management.jpg" alt="banner">
        <h1>RISK<br>MANAGEMENT</h1>
    </div>
    <header class="custom-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="float-left left-section">
                        <a href="#" class="menu-icon float-left">
                            <img src="~/Assets/Clients/~/Assets/Clients/~/Assets/Clients/images/menu-icon.svg" alt="menu-icon">
                        </a>
                        <ul class="custom-navbar float-left" style="visibility: hidden;">
                            <li>
                                <a class="hash-link" href="#risk-management">RISK MANAGEMENT</a>
                            </li>
                        </ul>
                    </div>
                    <div class="site-logo float-right">
                        <a href="/">
                            <img src="~/Assets/Clients/~/Assets/Clients/~/Assets/Clients/images/logo.svg" alt="site-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="first-section">
        <div class="container">
            <div class="col-12">
                <h1>ALZYS GLOBAL MANAGES A DIVERSE ARRAY OF RISKS THAT ARE INHERENT TO THE COMPLEXITY OF OUR OPERATIONS ON A DAILY BASIS. <span class="brand-color">OUR ABILITY TO MANAGE THESE RISKS IS WHAT SETS US APART AS A DEPENDABLE TRADING PARTNER OF COMMODITIES TO OUR CUSTOMERS AND ASSOCIATES.</span></h1>
            </div>
        </div>
    </div>
    <div class="position-relative second-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="second-section-left-section">
                        <p>Alzys Global has an experienced team of risk analysts and managers who oversee the group’s aggregate credit and market risk portfolio. The portfolio is diversified along industry, product and geographic lines.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="second-section-right-section">
                        <p>Our Market Risk team is made up of experienced commodity and risk professionals deeply embedded in each business unit providing independent oversight and policy enforcement.</p>
                        <p>For 2017, our focus was on increasing effectiveness by improving process efficiency through :</p>
                        <p>- Better deployment of our internal capabilities</p>
                        <p>- Deepening our relationships with our current customers and ensuring all products have multiple customer base in each market.</p>
                        <p>- Increased focused on risk-based returns, particularly for transactions that utilize significant amounts of our balance sheet capacity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

