<footer class="d-none d-xl-block">
    <div class="footer-above-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="">HOME</a></h4>
                        <div class="footer-pages">
                            <ul>
                                <li class="white"><a href="/#about-us">ABOUT US</a></li>
                                <li class="white"><a href="/#notes-from-co-ceo">NOTES<br>FROM CO CEO</a></li>
                                <li class="white"><a href="/#milestones">MILESTONES</a></li>
                                <li class="white"><a href="/#company-at-a-glance">COMPANY<br>AT A GLANCE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="/our-activities.php">OUR<br>ACTIVITIES</a></h4>
                        <div class="footer-pages">
                            <ul>
                                <li><a href="/our-activities.php#who-we-are">WHO WE ARE</a></li>
                                <li><a href="/our-activities.php#what-we-do">WHAT WE DO</a></li>
                                <li><a href="/our-activities.php#our-vision">OUR VISION</a></li>
                                <li><a href="/our-activities.php#our-edge">OUR EDGE</a></li>
                                <li><a href="/our-activities.php#how-we-add-value">HOW WE ADD VALUE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="/commodity-trading.php">COMMODITY<br>TRADING</a></h4>
                        <div class="footer-pages">
                            <ul>
                                <li><a href="/commodity-trading.php#commodity-platforms">COMMODITY PLATFORMS</a></li>
                                <li><a href="/commodity-trading.php#our-presence">OUR PRESENCE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="/leadership.php">LEADERSHIP</a></h4>
                        <div class="footer-pages">
                            <ul>
                                <li><a href="/leadership.php#our-teams">OUR TEAM</a></li>
                                <li><a href="/leadership.php#our-values">OUR VALUES</a></li>
                                <li><a href="/leadership.php#core-team">CORE TEAM</a></li>
                                <li><a href="/leadership.php#best-hr-practices">BEST HR PRACTICES</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="/risk-management.php">RISK <br>MANAGEMENT</a></h4>
                        <div class="footer-pages"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-content">
                        <h4 class="white"><a href="/contact-us.php">CONTACT<br>US</a></h4>
                        <div class="footer-pages">
                            <ul>
                                <li><a href="/contact-us.php#careers">CAREERS</a></li>
                                <li><a href="/contact-us.php#opportunities">OPPORTUNITIES</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-top-80"></div>
    <div class="footer-below-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 right-section">
                    <div class="row">
                        <div class="col-12">
                            <span class="display-inline-block">
                                <div class="address white">
                                    Alzys Global Pte Ltd.<br>
                                    112 Robinson Road, #13-03, Singapore 068902.<br>
                                    t +65 6491 1354   <span class="footer-space">f +65 6223 9354</span> <br>
                                    e info@alzys.sg  <span class="footer-space">Reg. No. 200715853R</span>
                                </div>
                            </span>
                            <!-- <div class="social-icons white">
                                   <ul>
                                       <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube white"></i></a></li>

                                       <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin white"></i></a></li>

                                   </ul>
                               </div> -->
                        </div>
                    </div>
                    <!-- <div class="copyright-content white"><span class="padding-right-10"> 2018 Alzys Global Pte Ltd.</span>|<span class="padding-right-10 padding-left-10">All Rights Reserved</span>|<span class="light-theme-color padding-left-10"></span></div> -->
                </div>
                <div class="col-md-2 col-sm-2 middle-section">
                    <a href="http://www.colabindia.com/" target="_blank">Made by Co.Lab.</a>
                </div>
                <div class="col-md-3 col-sm-3 left-section">
                    <div class="logo text-center padding-bottom-30">
                        <img src="~/Assets/Clients/images/banner-new-white-logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="d-block d-xl-none mobile">
    <div class="footer-below-section">
        <div class="container">
            <div class="row">
                <div class="col-12 left-section">
                    <div class="logo text-center padding-bottom-30">
                        <img src="~/Assets/Clients/images/banner-new-white-logo.png">
                    </div>
                </div>
                <div class="col-12 right-section">
                    <div class="row">
                        <div class="col-12">
                            <span class="display-inline-block">
                                <div class="address white">
                                    Alzys Global Pte Ltd.<br>
                                    112 Robinson Road, #13-03,<br>
                                    Singapore 068902.<br>
                                    t +65 6491 1354   <span class="footer-space">f +65 6223 9354</span> <br>
                                    e info@alzys.sg  <span class="footer-space">Reg. No. 200715853R</span>
                                </div>
                            </span>
                            <!-- <div class="social-icons white">
                                   <ul>
                                       <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube white"></i></a></li>
                                       <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin white"></i></a></li>
                                   </ul>
                               </div> -->
                        </div>
                    </div>
                    <div class="copyright-content white"><!-- <span class="padding-right-10"> 2018 Alzys Global Pte Ltd.</span>|<span class="padding-right-10 padding-left-10">All Rights Reserved</span>| --><span class="white padding-left-10">Made by Co.Lab.</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>
